
.items__icons {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1.0;
    align-Items: 'center';
    padding-left: 30px;
    

}


.items__icon {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    flex-flow: column;
    width: 300px;
    text-align: right;
    line-height: 1.0;
    background-color: whitesmoke;
    padding-right: 20px;
}

.items__icon > h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    color: black;
}

.items__icon > p {
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}

