.nav {
    display: flex;
    background-color: lightgrey;
    overflow-x: scroll;
    padding: 5px;
    padding-left: 40px;
}

/* hide scrollbar for Chrome, Safari & Opera */
.nav::-webkit-scrollbar {
    display: none;
}

/* hide scrollbar for IE, Edge and Firefox */
.nav{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


