.div-login{
    width:400px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10vh;
    background-color: transparent;
} 

.div-login-logo{
    height: 70px;
    width: 70px;
    align-self: center;
    margin-right: 200px;
  }

h1 {
    text-align: start;
    margin: 8px 0px;
}
  

.input_button{
    width: 300px;
    height: 40px;
    border: 1px solid #dbdbdb;
    padding: 5px;
    margin: 8px 5px;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.button{
    width: 300px;
    height: 40px;
    font-size: large;
    margin: 8px 5px;
    background-color: green;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 5px;
}

